@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewData["Title"] = "Admin";

}


    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="services-list">
                    <a asp-action="Index" asp-controller="Admin" class="active">Cập nhật rạp phim</a>
                    <a asp-action="Film" asp-controller="Admin">Cập nhật phim</a>
                    <a asp-action="AddFilm" asp-controller="Admin">Thêm phim</a>
                    </div>

                </div>

                <div class="col-lg-8 services-holder" data-aos="fade-up" data-aos-delay="200">
                    
                    <div class="services-item" data-aos="fade-up" data-aos-delay="300">
                        <select name="cinema-selection" id="cinema-selection" class="cinema-select">
                            <option value="">Chọn rạp phim</option>
                            <option value="">Rạp phim Cầu giấy</option>
                            <option value="">Rạp phim Xuân Thủy</option>
                            <option value="">Rạp phim Giải Phóng</option>
                        </select>
                        <form action="" class="form-edit" method="POST">
                            <div>

                                <img src="~/img/About/2.jpg" alt="">
                                <br><br>
                                <label for="Image">Ảnh rạp Phim:</label>
                                <input type="file" id="Image" name="Image" value="/assets/img/About/OIP.jpg">
                                <br><br>
                                <label for="address">Địa chỉ:</label>
                                <input type="text" id="address" name="address" value="Địa chỉ : Mai Dịch , gần Đại học Thương Mại ">
                                <br><br>
                            </div>
                            <div>

                                <button type="submit" class="btn-edit">Lưu</button>
                                <button type="submit" class="btn-edit">Làm lại</button>
                            </div>
                        </form>
                    </div>
                 
                </div>

            </div>

        </div>

    </section><!-- /Service Details Section -->

