@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Đường dẫn</h4>
<ul>
    <li><i class="bi bi-chevron-right"></i> <a asp-action="Index">Trang chủ</a></li>
    <li><i class="bi bi-chevron-right"></i> <a asp-action="Index" asp-controller="Cinema">Rạp</a></li>
    <li><i class="bi bi-chevron-right"></i> <a asp-action="Index" asp-controller="Film">Phim</a></li>
</ul>