@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li><a asp-action="Index" class="active" asp-controller="Home">Trang chủ</a></li>
    <li><a asp-action="Index" asp-controller="Cinema">Rạp</a></li>
    <li><a asp-action="Index" asp-controller="Price">Giá vé</a></li>
    <li><a asp-action="Index" asp-controller="Film">Phim</a></li>
    @if (User.Identity.IsAuthenticated == false)
    {
        <li><a class="btn-primary" asp-controller="Account" asp-action="Login">Đăng nhập</a></li>
        <li><a class="btn-register" asp-action="Register" asp-controller="Account">Đăng kí</a></li>
    }
    <li class="dropdown">
        <img src="~/img/apple-touch-icon.png" class="account-img" alt="" srcset="">
        <ul>
            <li><a asp-action="Profile" asp-controller="Profile">Tài khoản</a></li>
            <li><a href="#">Đăng xuất</a></li>
        </ul>
    </li>
</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>