@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul>
    <li><a asp-action="Index" class="active" asp-controller="Home">Trang chủ</a></li>
    <li><a asp-action="Index" asp-controller="Cinema">Rạp</a></li>
    <li><a asp-action="Index" asp-controller="Price">Giá vé</a></li>
    <li><a asp-action="Index" asp-controller="Film">Phim</a></li>
    <li><a class="btn-primary" asp-controller="Account">Đăng nhập</a></li>
    <li><a class="btn-register" href="">Đăng kí</a></li>

</ul>
<i class="mobile-nav-toggle d-xl-none bi bi-list"></i>