@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Quản lí tài khoản</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="current">Quản lí tài khoản</li>
            </ol>
        </nav>
    </div>
</div>

<section id="account-section">
    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-4 col-sm-12 account-info">
               
                <div class="account-menu" data-aos="fade-up" data-aos-delay="300">
                    <a href="#" class="active account-setting">Thông tin tài khoản</a>
                    <a href="#" class="account-setting">Thông báo</a>
                    <a href="" class="logout">Đăng xuất </a>
                </div>
            </div>

            <div class="col-lg-8 col-md-8 col-sm-12 " data-aos="fade-up" data-aos-delay="300">
                <div class="account-details px-4 active" data-aos-delay="300">
                    <form action="starter-page.html" method="post" class="email-form" data-aos="fade-up" data-aos-delay="200">
                        <div class="row gy-4">
                            <div class="account-avatar__container col-md-12" data-aos="fade-up" data-aos-delay="300">
                                <div class="avatar-holder">
                                    <label for="file">
                                        <img src="~/img/team/default.png" class="account-avatar" alt="  ">
                                    </label>
                                </div>
                                <div class="account--change-avatar">
                                    <label for="file">Đổi ảnh đại diện</label>
                                    <input type="file" name="file" id="file" accept=".jpg,.png,.jpeg" onchange="imgLoader()">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="name-field" class="pb-2">Tên</label>
                                <input type="text" name="name" id="name-field" value="Nguyễn Tuấn Linh" class="form-control" required="">
                            </div>

                            <div class="col-md-12">
                                <label for="email-field" class="pb-2">Email</label>
                                <input type="email" name="email" id="email-field" value="ngtualin20004@gm.com" class="form-control" required="">
                            </div>

                            <div class="col-md-8 ">
                                <label for="date-field" class="pb-2">Ngày Sinh</label>
                                <input type="date" value="2004-04-18" max="2016-12-31" inputmode="numeric" class="form-control" name="date" id="date-field" required="">
                            </div>

                            <div class="col-md-6">
                                <label for="tel-field" class="pb-2">Số điện thoại</label>
                                <input type="tel" name="tel" id="tel-field" value="0912312313" maxlength="12" pattern="[0-9]{10}" class="form-control" required="">
                            </div>

                            <div class="col-md-3 offset-8 offset-lg-8">
                                <button type="submit" class="btn-send pe-lg-4 ps-lg-4">Cập nhật</button>
                            </div>

                        </div>
                    </form>
                </div>
                <div class="account-details px-4 d-none acc-notification" data-aos-delay="300">
                    <div class="notification noti-inform p-3">
                        <h5>Thông báo !</h5>
                        <p class="message">Đã đặt vé thành công , mời quý khách đến quầy để nhận vé</p>
                    </div>
                    <a class="notification noti-warn p-3" href="film-details.html">
                        <h5>Hot<i class="bi bi-fire"></i></h5>
                        <p class="message">Phim mới đã đến lên ngay kẻo muộn</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/js/account.js"></script>