<div class="col-lg-4 col-md-6 film-item isotope-item filter-ongoing">
    <div class="film-content h-100">
        <img src="~/wwwroot/img/film/tam.jpg" class="img-fluid " alt="">
        <div class="film-info">
            <h4>Đang chiếu</h4>
            <p>Câu chuyện phim là dị bản kinh dị đẫm máu lấy cảm hứng từ truyện cổ tích nổi tiếng Tấm Cám, nội dung chính của phim xoay quanh Cám - em gái cùng cha khác mẹ của Tấm đồng thời sẽ có nhiều nhân vật và chi tiết sáng tạo, gợi cảm giác vừa lạ vừa quen cho khán giả..</p>
            <a href="~/img/film/tam.jpg" title="Cám" data-gallery="film-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-preview">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_08_20_q-101323-200824-62.jpg" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Sắp chiếu </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_08_20_q-101323-200824-62.jpg" title="Quỷ Án" data-gallery="film-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-special">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_09_11_tf1-intl-allspark-dgtl-online-payoff-keyart-vie-400x633-134254-110924-51.jpg" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Đặc biệt </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_09_11_tf1-intl-allspark-dgtl-online-payoff-keyart-vie-400x633-134254-110924-51.jpg" title="Transformer One" data-gallery="film-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->
<div class="col-lg-4 col-md-6 film-item isotope-item filter-ongoing">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_09_19_482wx722h-162630-190924-83.jpg" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Đang chiếu </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_09_19_482wx722h-162630-190924-83.jpg" title="Joker Điên có đôi" data-gallery="film-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-preview">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_09_19_screenshot-2024-09-19-150036-150139-190924-38.png" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Sắp chiếu </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_09_19_screenshot-2024-09-19-150036-150139-190924-38.png" title="Venom" data-gallery="film-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-special">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_09_19_screenshot-2024-09-19-154629-154714-190924-43.png" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Đặc biệt </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_09_19_screenshot-2024-09-19-154629-154714-190924-43.png" title="Latency" data-gallery="film-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-ongoing">
    <div class="film-content h-100">
        <img src="~/img/film/media_images_2024_08_01_38-400x633-182208-010824-97.png" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Đang chiếu </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/media_images_2024_08_01_38-400x633-182208-010824-97.png" title="Shin" data-gallery="film-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-preview">
    <div class="film-content h-100">
        <img src="~/img/film/da.png" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Sắp chiếu </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/da.png" title="Đố anh bắt được em" data-gallery="film-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->

<div class="col-lg-4 col-md-6 film-item isotope-item filter-special">
    <div class="film-content h-100">
        <img src="~/img/film/R.jpg" class="img-fluid" alt="">
        <div class="film-info">
            <h4>Đặc biệt </h4>
            <p>Lorem ipsum, dolor sit amet consectetur</p>
            <a href="~/img/film/R.jpg" title="Avenger" data-gallery="film-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
            <a asp-action="Index" asp-controller="Film" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
        </div>
    </div>
</div>
<!-- End film Item -->