@{
    ViewData["Title"] = "Giá vé";
}    

 <!-- Page Title -->
<div class="page-title" data-aos="fade">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Giá vé</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="current">Giá vé</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->
<!-- Starter Section Section -->
<section id="starter-section" class="starter-section section">
    <!-- Section Title -->
    <!-- End Section Title -->

    <div class="container" data-aos="fade-up">
        <img class="img-fluid" src="~/img/bang-gia-ve-tn-ve-2d-va-3d-1920x2400-150958-030424-19.png" />
    </div>

</section><!-- /Starter Section Section -->
